.listaMonstrosGrid{

display:grid;

grid-template-columns:
repeat(
auto-fill,
minmax(
320px,
1fr
)
);

gap:25px;

margin-top:25px;

}

.cardMonstro{

background:#252525;

padding:20px;

border-radius:15px;

border:1px solid #444;

display:flex;

flex-direction:column;

gap:15px;

transition:.3s;

}

.cardMonstro:hover{

transform:translateY(-5px);

border-color:#b13cff;

}

.dadosMonstro{

display:flex;

flex-direction:column;

gap:10px;

}

.acoesMonstro{

margin-top:10px;

}

.acoesMonstro button{

padding:10px;

border:none;

border-radius:8px;

cursor:pointer;

}

.filtrosMonstros{

display:flex;

gap:15px;

margin-top:20px;

margin-bottom:20px;

flex-wrap:wrap;

}

.filtrosMonstros input,
.filtrosMonstros select{

padding:12px;

background:#2d2d2d;

color:white;

border:none;

border-radius:8px;

}