.topo{
height:70px;
background:#2d2d2d;

display:flex;
align-items:center;
gap:20px;

padding:15px;
border-bottom:2px solid #444;
}

.topo select{
margin-left:5px;
padding:5px;
}

.topo button{
padding:8px 12px;
cursor:pointer;
}

.menu{
width:250px;
background:#252525;
padding:20px;
border-right:2px solid #444;
}

.menu ul{
list-style:none;
}

.menu li{
margin-bottom:20px;
}

.menu a{
color:white;
text-decoration:none;
}

.menu a:hover{
color:orange;
}

.botaoVoltar{

padding:10px 15px;
margin-bottom:20px;

border:none;

border-radius:8px;

cursor:pointer;

font-size:16px;

}

.botaoAcao{

margin-bottom:20px;
padding:10px;
cursor:pointer;

}