.ficha{
padding:20px;
}

.cabecalhoFicha{
margin-bottom:30px;
}

.informacoesBasicas{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:15px;
margin-top:20px;
}

.infoCard{
background:#2d2d2d;
padding:15px;
border-radius:10px;
text-align:center;
border:1px solid #444;
}

.infoCard p{
font-size:20px;
margin-top:10px;
font-weight:bold;
}

.atributosGrid{
display:grid;
grid-template-columns:
repeat(
auto-fit,
minmax(180px,1fr)
);

gap:15px;
margin-top:20px;
}

.atributoCard{
background:#252525;
padding:15px;
border-radius:10px;
text-align:center;
border:1px solid #444;
}

.bonus{
color:#35d44f;
font-weight:bold;
margin-left:8px;
margin-right:8px;
}

.imagemFichaPersonagem{

width:350px;

height:350px;

object-fit:contain;

background:#1a1a1a;

padding:10px;

border-radius:15px;

border:2px solid #c89b3c;

display:block;

margin:20px auto;

box-shadow:
0 0 20px rgba(
200,
155,
60,
0.3
);

}