*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
background:#1a1a1a;
color:white;
font-family:Arial;
}

.container{
height:100vh;
display:flex;
flex-direction:column;
}

.conteudo{
display:flex;
flex:1;
}

.principal{
flex:1;
padding:30px;
}