/* Estilos para NPCs */
.cardNPC {
  border: 1px solid var(--ouro-escuro);
  background: var(--pedra-clara);
  border-radius: 8px;
  overflow: hidden;
  transition: all 0.3s;
}

.cardNPC:hover {
  box-shadow: 0 0 15px var(--sombra-ouro);
  transform: translateY(-5px);
}
