.listaPersonagensGrid{

display:grid;

grid-template-columns:
repeat(
auto-fit,
minmax(
250px,
1fr
)
);

gap:20px;

margin-top:30px;

}

.cardPersonagem{

background:#252525;

padding:20px;

border-radius:10px;

border:1px solid #444;

}

.cardPersonagem h2{

margin-bottom:15px;

}

.cardPersonagem p{

margin-bottom:10px;

}

.acoesPersonagem{

display:flex;

gap:10px;

margin-top:15px;

}

.filtrosPersonagem{

display:flex;

gap:15px;

margin-top:20px;

flex-wrap:wrap;

}

.filtrosPersonagem input{

padding:10px;

border-radius:8px;

border:none;

}